{% extends 'base/header_market.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="container mt-4">
    <h1>Cart</h1>
    <div id="cart-items" class="row mt-4">
        <!-- Cart items will be displayed here dynamically -->
    </div>
    <hr>
    <div id="cart-total" class="mt-8">
        <!-- Total Cart value will be displayed here -->
    </div>
    <p id="cart-actions" class="mt-4">
        <!-- Proceed to Select Address button or Empty Cart message will be displayed here -->
    </p>
</div>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock content %}
