{% extends 'base/header_market.html' %}
{% load static %}
{% block content %}
<input type="hidden" id="username" value="{{ username }}">
<div class="container mt-4">
    <h1>Cart</h1>
    <div id="cart-items" class="row mt-4">
        <!-- Cart items will be displayed here dynamically -->
    </div>
    <div id="cart-actions" class="mt-4">
        <!-- Proceed to Select Address button or Empty Cart message will be displayed here -->
    </div>
</div>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock content %}
