{% extends 'base/header_market.html' %}
{% load static %}
{% block content %}

{% endblock content %}



<button type="button" class="filter-button" onclick="showFilter()">Filter</button>
<div class="filter-div">
    <div class="filter-option">
        <label for="style-filter">Style:</label>
        <select id="painting-filter">
            <option value="all">All Styles</option>
            <option value="acrylic">Acrylic Painting</option>
            <option value="oil">Oil Painting</option>
            <option value="watercolour">Water Colour Painting</option>
            <option value="pencilcolour">Pencil Colour Painting</option>
            <option value="charcoal">Charcoal Painting</option>
            <option value="pencilpotrait">Pencil Potrait</option>
            <!-- Add more options for different painting styles -->
        </select>
    </div>
    
    <!-- Radio buttons for sorting -->
    <div class="sort-option">
        <h3>Sort By:</h3>
        <label><input type="radio" name="sort" value="price-high-low" checked>Price: High to Low</label><br>
        <label><input type="radio" name="sort" value="price-low-high">Price: Low to High</label><br>
        <label><input type="radio" name="sort" value="size-low-high">Size: Low to High</label><br>
        <label><input type="radio" name="sort" value="size-high-low">Size: High to Low</label><br>
    </div>
    
    <!-- Buttons to submit and clear filters -->
    <button id="submit-filters">Submit Filters</button>
    <button id="clear-filters">Clear Filters</button>
</div>
    