{% extends 'base/header_dashboard.html' %}
{% load static %}
{% block content %}

<style>
    .container {
        width: 95%; /* Increase the container width */
        max-width: 2500px; /* Optional: Set a max-width */
        margin: 0 auto; /* Center the container */
    }
</style>

<div class="container">
    <h2 class="mt-5 mb-4">User Table</h2>
    <div class="table-responsive">
        <table class="table table-bordered" id="userTable">
            <thead>
                <tr>
                    <th class="sortable" data-field="id" onclick="sortTable(this)">ID</th>
                    <th class="sortable" data-field="username" onclick="sortTable(this)">Username</th>
                    <th class="sortable" data-field="email" onclick="sortTable(this)">Email</th>
                    <th class="sortable" data-field="first_name" onclick="sortTable(this)">First Name</th>
                    <th class="sortable" data-field="last_name" onclick="sortTable(this)">Last Name</th>
                    <th class="sortable" data-field="date_joined" onclick="sortTable(this)">Date Joined</th>
                    <th class="sortable" data-field="is_superuser" onclick="sortTable(this)">Superuser</th>
                    <th class="sortable" data-field="is_staff" onclick="sortTable(this)">Staff</th>
                    <th class="sortable" data-field="banned" onclick="sortTable(this)">Banned</th>
                    <th class="sortable" data-field="banned_till" onclick="sortTable(this)">Banned Till</th>
                    <th>Actions</th>
                    <th>Orders</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>{{ user.is_superuser }}</td>
                    <td>{{ user.is_staff }}</td>
                    <td>{{ user.banned }}</td>
                    <td>{{ user.banned_till }}</td>
                    <td>
                        <a href="{% url 'user_edit' user.id %}" type="button" class="btn btn-secondary">Edit</a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-secondary">Orders</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{% static 'js/dashboard/user.js' %}"></script>
{% endblock content %}
