{% extends 'base/header_user.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}

<div class="container custom-container" style="text-align: center; padding-top: 10%; border: none;">
    <a href="{% url 'landingpage' %}" class="position-absolute top-0 end-0 m-3">
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
      </a>
    <div class="card p-4" id="forgotPassword">
        <h2>Forgot Password</h2>
        <br />
        <form metod="POST">
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <label for="email" class="form-label">Enter your email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <div class="g-recaptcha" data-sitekey="{{ site_key }}" data-callback="onCaptchaSuccess" data-expired-callback="onCaptchaExpired"></div>
                    {% if error_message %}
                        <p class="text-danger">{{ error_message }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <button type="submit" id="submitButton" class="btn btn-primary col-6">
                        <i class="fa fa-envelope"></i> Reset Password
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
