{% extends 'base/header_user.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}

<div class="container custom-container" style="text-align: center; padding-top: 10%; border: none;">
    <div class="card p-4" id="resetPassword">
        <h2>Reset Password</h2>
        <br />
        <form method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <label for="new_password1" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <label for="new_password2" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    {% if error_message %}
                        <p class="text-danger">{{ error_message }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <button type="submit" class="btn btn-primary col-6">
                        <i class="fa fa-lock"></i> Reset Password
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
